* {
  
  color: inherit;
  background-color: inherit;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  animation: show 0.2s ease-out;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-family: contender;
  color: whitesmoke;
  background: transparent;
  font-weight: 600;
  position: fixed;
  top: 0; left: 0;
  min-height: 50px;
  width: 100%;
}

#quote-box {
  height: auto;
  width: 250px;
  min-height: 150px;
  border-radius: 3px;
  background: whitesmoke;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#text {
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

#author {
  width: 100%; height: 35px;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  text-transform: italic;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#tweet-quote, #capture-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px; height: 35px;
  border: none;
  border-radius: 3px;

}

#controls {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

#squares {
  width: 30%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#squares button {
  cursor: pointer;
}

#new-quote {
  height: 35px;
  width: 110px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

#quote {
  padding: 10px;
  width: 100%;
  min-height: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

svg {
  background: none;
}

@media (min-width: 640px) {
  #quote-box {
    width: 375px;
    min-height: 180px;
    padding: 25px;
    border-radius: 5px;
  }

  #text {
    font-size: 17px;
    font-weight: 500;
  }

  #author {
    height: 40px;
    font-weight: 350;
    font-size: 16px;
  }

  #tweet-quote, #capture-quote {
    width: 40px; height: 40px;
    border-radius: 5px;
  }

  #new-quote {
    height: 40px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
  }
}

@media (min-width: 1024px) {
  #quote-box {
    width: 450px;
    min-height: 200px;
    padding: 20px;
    border-radius: 5px;
  }
  #squares {
    width: 20%;
  }
}

@media (min-width: 1280px) {
  #quote-box {
    width: 500px;
    min-height: 200px;
    padding: 20px;
    border-radius: 8px;
  }
  
  #text {
    font-size: 20px;
    font-weight: 500;
  }
  
  #author {
    height: 40px;
    font-weight: 350;
    font-size: 17px;
  }
  #new-quote {
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  #quote-box {
    width: 550px;
    min-height: 230px;
    padding: 22px;
    border-radius: 8px;
  }
  
  #text {
    font-size: 25px;
    font-weight: 510;
  }
  
  #author {
    height: 50px;
    font-weight: 390;
    font-size: 18px;
  }
}
